<nav class="fixed flex mix-blend-difference w-full z-40 pt-10 pb-10 top-0 left-0 justify-center">
  <a href="{{ routes.root_url }}" class="hover:opacity-80 transition-opacity lowercase leading-none text-3xl font-bold text-neutral-900 tracking-tighter">
    albino.
  </a>
</nav>

{% schema %}
{
  "name": "Navigation",
  "settings": []
}
{% endschema %}

